<% layout('layouts/boilerplate')%>

<section id="projectCardsCon" class="hero-image h-auto flex items-center justify-center bg-cover py-8">
    <div class="text-center text-white">
        <div class="flex justify-center space-x-8 mb-10">
            <a href="/projectCard/addProject">
                <button class="mx-3 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                    Add Project
                </button>
            </a>            
            <a href="/projectCard/edit">
                <button type="button" class="bg-yellow-400 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">
                    Edit Project
                </button>
            </a>                
            <a href="/projectCard/delete">
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                    Delete Project
                </button>
            </a>
        </div>
        <h1 class="text-5xl font-bold mb-10">All Project</h1>

        <div class="container mx-auto mb-10">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
                <% cards.forEach(card => { %>                        
                    <a href="<%= card.projecthref %>" class="p-6 rounded-lg shadow-md project-card ">
                        <h3 class="text-xl font-bold mb-2 break-all"><%= card.projectName %></h3>
                        <div class="flex justify-center">
                            <h3 class="text-xl font-semibold mb-2"><%= new Date(card.startDate).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></h3>
                            <p class="text-xl font-semibold mx-2"> - </p>
                            <h3 class="text-xl font-semibold mb-2"><%= new Date(card.endDate).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></h3>
                        </div>
                        <h3 class="text-xl font-bold mb-2 break-all">By: <%= card.creator.username %></h3>
                    </a>
                <% }); %>
                
            </div>                
        </div>
                
    </div>
</section>        
